body {
  padding-top: 120px;
}

.main-header {
  display: flex;
  height: 400px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #bdbd59;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");  
}

.tweeter-input {
  text-align: center;
}

.fa-angle-double-down {
  color: red;
  opacity: 0.5;
}

.name {
  text-align: center;
  color: antiquewhite;
}

main h2 {
  font-size: 1.3rem;
  text-align: center;  
}

main {
  font-size: 1rem;
} 
#up .fa-angle-double-down:hover {
  opacity: 1;
  cursor: pointer;
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
}
