body {
  padding-top: 120px;
}

.avatar-and-name {
  display: flex;
  flex-flow: column;
  height: 400px;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: #bdbd59;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
}

.avatar img {
  display: block;
}
a .tweeter-input {
  text-align: center;
}

.fa-angle-double-down {
  color: red;
  opacity: 0.5;
}

.name {
  text-align: center;
  color: antiquewhite;
}

main h2 {
  font-size: 2rem;
  text-align: center;
}

main {
  font-size: 1.4rem;
}

#up .fa-angle-double-down:hover {
  opacity: 1;
  cursor: pointer;
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
}
