body {
  padding-top: 120px;
}

.main-header {
  display: flex;
  height: 400px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #bdbd59;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
  /* //background-color: #d79820; */
}

.tweeter-input {
  text-align: center;
}

.fas {
  color: red;
}

.name {
  text-align: center;
  color: antiquewhite;
}

main h2 {
  font-size: 1.3rem;
  text-align: center;
}

main {  
  font-size: 1rem;
}