.textarea {
  width: 100%;
}
.new-tweet {
  margin-left: auto;
  margin-right: auto;
}

form {
  display: flex;
  justify-content: center;
}

#text {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: solid black 2px;
  margin-bottom: 5px;
  font-weight: bold;
  resize: none;
  height: 50px;
}

.form__submit {
  display: flex;
  justify-content: space-between;
}

.form__submit input {
  background-color: #4056a1;
  border: none;
  font-family: Bungee, sans-serif;
  color: #f4f1ec;
}

.form__submit .counter {
  font-family: Bungee, sans-serif;
  font-weight: bold;
}
